.text-white, .text-white * {
  color: #fff;
}

.text-back, .text-back * {
  color: #000;
}

.background-white {
  background-color: $white;
}

.background-paper {
  background-color: $background-paper-color;
  @media (max-width: $lg-grid-breakpoint) {
    background-color: #f0f0f0;
  }
}

.background-black {
  background-color: #000;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  background-image: url('../images/arrow-down.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 20px;
  transform: translateX(-50%);
}

.arrow-up {
  @extend .arrow-down;
  transform: rotate(180deg)
}

.arrow-left {
  position: absolute;
  left: 50%;
  bottom: 20px;
  background-image: url('../images/arrow-left.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 20px;
}

.dropdown-button {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-family: $font-AlternateGotNo1D;
  font-size: 28px;
  padding-right: 4px;
  text-transform: uppercase;
  width: 50%;
  text-align: right;
  .button-wrap {
    position: relative;
    width: 100%;
    color: #03014a;
    &:hover {
      cursor: pointer;
    }
    &:after {
      content: '';
      border-top: 1px solid #000;
      width: calc(100% - 50px);
      left: 0;
      height: 6px;
      z-index: 9999;
      position: absolute;
      top: calc(50% - 1px);
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    .button-wrap {
      &:after {
        border: none;
      }
    }
  }
}

.down-button {
  position: absolute;
  left: 100%;
  bottom: 5px;
  background-image: url(../images/down-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.arrow-right {
  @extend .arrow-left;
  transform: rotate(180deg)
}

.back-top {
  color: #fff;
  position: relative;
  @media (max-width: 1200px) {
    max-width: calc(100% - 15px);
  }
  .back-top-button {
    width: 45px;
    position: fixed;
    right: 5px;
    bottom: 20px;
    text-align: center;
    font-family: $font-Kozgopr6n;
  }
  a {
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    letter-spacing: 0;
    &:before {
      content: '';
      position: absolute;
      left: 4px;
      top: -22px;
      background-image: url('../images/arrow-down.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 20px;
      transform: rotate(180deg);
    }
  }
}