@font-face {
  font-family: 'AlternateGotNo1D';
  src: local('AlternateGotNo1D'),
  url('../fonts/AlternateGotNo1D.otf') format('opentype')
}

@font-face {
  font-family: 'Hiraminpro W3';
  src: local('Hiragino Mincho Pro W3'),
  url('../fonts/Hiragino Mincho Pro W3.otf') format('opentype')
}

@font-face {
  font-family: 'Kozgopr6n';
  font-weight: 400;
  src: local('Kozgopr6n Regular'),
  url('../fonts/Kozgopr6n Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Kozgopr6n';
  font-weight: 700;
  src: local('Kozgopr6n Bold'),
  url('../fonts/Kozgopr6n Bold.otf') format('opentype')
}

@font-face {
  font-family: 'Kozgopr6n';
  font-weight: 900;
  src: local('Kozgopr6n Heavy'),
  url('../fonts/Kozgopr6n Heavy.otf') format('opentype')
}

@font-face {
  font-family: 'Univers';
  src: local('Univers-Light'),
  url('../fonts/Univers Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Univers';
  font-weight: 700;
  src: local('Univers Bold'),
  url('../fonts/Univers Bold.ttf') format('truetype')
}

.font-AlternateGotNo1D, .font-AlternateGotNo1D * {
  font-family: $font-AlternateGotNo1D, sans-serif, serif;
}

.font-Hiraminpro-W3, .font-Hiraminpro-W3 * {
  font-family: $font-Hiraminpro-W3, sans-serif, serif;
}

.font-Hiraminpro-W3, .font-Hiraminpro-W3 * {
  font-family: $font-Hiraminpro-W2, sans-serif, serif;
}

.font-Kozgopr6n, .font-Kozgopr6n * {
  font-family: $font-Kozgopr6n, sans-serif, serif;
}

.font-Univers, .font-Univers * {
  font-family: $font-Univers, sans-serif, serif;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-2 {
  font-size: 2rem;
}

.fs-25 {
  font-size: 2.5rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 4.8rem;
}