header {
  height: $header-height;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: .4;
  }

  .top-header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
      font-size: unset;
    }
  }

  @media (max-width: $lg-grid-breakpoint) {
    height: 60px;
    .top-header {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.top-banner {
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 551px;
  margin-top: -$header-height;

  .banner-text {
    margin-top: $header-height;
    color: #fff;
    font-size: 45px;
    padding-left: 10%;
    padding-top: 10%;
    letter-spacing: 4px;
    p {
      line-height: 1.8;
      margin-bottom: 0;
    }
  }

  @media (max-width: $lg-grid-breakpoint) {
    height: calc(100vh + 30px);
    .banner-text {
      font-size: 4.5vw;
      padding-top: 80px;
      padding-left: 10%;
      line-height: 1.2;
    }
  }
  @media (max-width: $md-grid-breakpoint) {
    .banner-text {
      padding: 10%;
      font-size: 38px;
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    .banner-text {
      padding: 10% 10px;
      font-size: $sm-title-font-size;
    }
  }
}