html {
  //max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #000;
}

.col-half {
  flex: 0 0 50%;
  max-width: 50%;
}

img {
  max-width: 100%;
  margin: 0 auto;
}