a:hover {
  text-decoration: unset;
}

body {
  overflow-x: hidden;
}

.trade-mark {
  letter-spacing: 4px;
  display: inline-block;
  margin-top: 1rem;
}

.intro {
  background-image: url('../images/progress.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    margin-bottom: 0;
  }

  .button-white {
    min-width: 300px;
    max-width: 400px;

    .button {
      color: #000;
      background-color: #fff;
      border-radius: 10px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
  &.intro-fixed {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    .container {
      max-width: 100%;
    }
    @media (max-width: $lg-grid-breakpoint) {
      .col-left, .col-right {
        padding: 5px 0;
      }
      .button-white {
        .button {
          font-size: 18px
        }
      }
    }
    @media (max-width: $sm-grid-breakpoint) {
      .button-white {
        .button {
          font-size: 16px
        }
      }
    }
  }
}

.intro-content {
  padding-top: 35px;
  padding-bottom: 35px;

  h2 {
    letter-spacing: 5px;
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: $lg-grid-breakpoint) {
    &.intro-content-top {
      background-color: #fff;
    }
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 23px;
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    padding-top: 15px;
    padding-bottom: 15px;
    h2 {
      font-size: $sm-title-font-size;
    }
    p {
      font-size: $sm-text-font-size;
      text-align: justify;
    }
    .px-4 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.gallery-details {
  margin-bottom: 38px;

  .gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.first {
      background-image: url('../images/bg-1.jpg');
    }

    &.second {
      background-image: url('../images/bg-2.jpg');
    }

    &.third {
      background-image: url('../images/bg-3.jpg');
    }

    &.fourth {
      background-image: url('../images/bg-4.jpg');
    }

    .gallery-text-wrap {
      &.pl {
        padding-left: 50px;
      }

      &.pr {
        padding-right: 50px;
      }
    }

    .gallery-text {
      padding: 70px 35px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/layer-2.png');

      .title {
        letter-spacing: -2px;
        font-size: 2rem;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 1rem;

        p {
          margin-bottom: 0.5rem;
        }
      }

      .text {
        p {
          margin-bottom: 0.5rem;
        }
      }
    }

    @media (max-width: $lg-grid-breakpoint) {
      background-image: none !important;
      background-color: $white;
      .gallery-text-wrap {
        &.pl, &.pr {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .gallery-text {
        background-color: #fff;
        padding: 50px 80px;
        font-size: 23px;

        .title {
          font-size: 35px;
        }
      }
    }
    @media (max-width: $sm-grid-breakpoint) {
      .gallery-text {
        padding: 15px;
        font-size: $sm-text-font-size;

        .title {
          font-size: $sm-title-font-size;
          margin-bottom: 0;
          padding-bottom: 0;

          p {
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.gallery-slider {
  padding: 75px 0;

  .container {
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-image: url('../images/layer-1.png');
  }

  .slider-wrapper {
    padding-top: 235px;
    padding-right: 30px;
    min-height: 630px;
  }

  #thumbs {
    margin-right: -5px;
    margin-left: -5px;

    .item {
      padding: 5px;

      &:hover {
        cursor: pointer
      }
    }
  }

  .owl-nav {
    height: 15px;

    .arrow-left {
      left: -30px;
      height: calc(100% - 15px);
      width: 30px;
      background-color: #d2d2d2;
      background-size: 15px;
      top: 0;
    }

    .arrow-right {
      @extend .arrow-left;
      left: unset;
      right: -30px;
    }
  }

  @media (max-width: $lg-grid-breakpoint) {
    padding: 30px 0;
    .container {
      background: none;
    }
    .slider-wrapper {
      max-width: calc(100% - 60px);
      padding-right: 0;
      padding-left: 0;
      min-height: unset;
      margin: 0 auto;
      padding-top: 20px;
    }
    .layer1 {
      padding: 15px 30px 30px;
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    padding: 15px 0;
    .slider-wrapper {
      padding-top: 0;
    }
    #thumbs {
      .item {
        padding: 2px;
      }
    }
  }
}

.example {
  padding: 20px 0 40px 0;
  overflow: hidden;
  &.type-one {
    .block {
      padding: 30px 60px 30px 50px;
    }

    .title {
      line-height: 1;
      position: relative;

      .number {
        font-size: 60px;
        position: relative;

        &:after {
          content: '';
          height: 150px;
          width: 1px;
          border-right: 1px solid #8b8080;
          display: inline-block;
          position: absolute;
          right: 0;
          top: -15px;
          transform: rotate(45deg);
        }
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        padding-left: 45px;
        display: inline-block;
      }
    }

    .content {
      font-family: $font-Univers, $font-Hiraminpro-W3, sans-serif, serif;
      padding-top: 20px;
    }

    @media (max-width: $lg-grid-breakpoint) {
      .title {
        .number {
          &:after {
            height: 100px;
            top: 10px;
          }
        }
      }
      .content {
        display: none;
      }
    }

    @media (max-width: $sm-grid-breakpoint) {
      .block {
        padding: 15px 15px 15px 30px;
      }
    }
  }

  &.type-two {
    padding: 50px 0;

    .block {
      border-bottom: 1px solid #000;
      margin-bottom: 60px;
      position: relative;

      > div {
        padding: 20px 0;
      }

      .stt {
        padding-left: 30px;
        width: 125px;
        border-right: 1px solid #000;

        .ex {
          font-size: 28px;
        }

        .number {
          font-size: 60px;
          position: relative;
        }
      }

      .detail {
        font-family: $font-Kozgopr6n, $font-Hiraminpro-W3, sans-serif, serif;
        font-weight: 900;
        width: 415px;
        padding-left: 50px;
        border-right: 1px solid #000;
        font-size: 18px;
        flex: 1;

        p {
          margin-bottom: 0.75rem;

          &:nth-child(1) {
            letter-spacing: 5px;
          }
        }
      }

      .price {
        font-family: $font-Kozgopr6n, $font-Hiraminpro-W3, sans-serif, serif;
        font-size: 13px;

        th {
          font-weight: 400;
          text-align: right;
          width: 300px;
        }

        .ext {
          text-align: right;
          font-size: 10px;
          position: relative;
          top: 20px;
        }

        td {
          padding-left: 10px;
        }
      }
    }

    @media (max-width: $lg-grid-breakpoint) {
      .block {
        margin: 0 60px;
        border-bottom: 0;

        .detail {
          padding-left: 35px;
          width: auto;
          flex-grow: 1;
        }

        .stt {
          flex-basis: 125px;
          flex-grow: 0;

          .ex {
            font-size: 36px;
          }
        }

        .hr {
          border-top: 1px solid #000;
          margin-top: 5px;
          width: 100%;
          padding: 0;
        }

        .price {
          flex: 0 0 100%;
          max-width: 100%;
          display: none;
          border-bottom: 0;
          padding-top: 0;
          font-size: 23px;
          font-family: $font-Kozgopr6n;

          .table {
            width: 100%;
          }

          th {
            text-align: left;
            width: auto;
          }

          td {
            text-align: right;
          }

          .ext {
            top: 0;
          }
        }

        .dropdown-button-wrapper {
          flex-basis: 115px;
          flex-grow: 0;
          position: relative;

          .dropdown-button {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            bottom: unset;
            right: unset;

            .button-wrap {
              &:after {
                display: none;
              }

              .down-button {
                bottom: 12px;
              }
            }
          }
        }
      }
    }

    @media (max-width: $md-grid-breakpoint) {
      .block {
        margin: 0;
        .stt {
          flex-basis: 50px;
          padding-left: 0;
          .number {
            font-size: 45px;
          }
        }
        .price {
          font-size: 14px;
        }
        .detail {
          border-right: 0;
          padding-left: 10px;
          flex: 1;
        }
        .dropdown-button-wrapper {
          flex-basis: 100%;
        }
      }
    }
  }
}

.q-and-a {
  padding: 50px 0;

  .q-a-row {
    margin-bottom: 15px;
    justify-content: center;

    .row-item {
      height: 100%;
      width: 100%;

      p {
        margin-bottom: 0;
      }
    }
  }

  .q-item, .a-item {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    min-height: 110px;
    position: relative;
    @media (max-width: $lg-grid-breakpoint) {
      max-width: calc(100% - 70px);
    }
  }

  .q-item {
    background-color: #c9c9c9;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 55px solid transparent;
      border-left: 20px solid #c9c9c9;
      border-bottom: 55px solid transparent;
      right: 0;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: $lg-grid-breakpoint) {
        right: -20px;
      }
    }

    .detail {
      font-family: $font-Kozgopr6n;
      font-weight: 700;
      font-size: 17px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .a-item {
    background-color: #dcdcdc;

    &:before {
      content: '';
      position: absolute;
      border-right: 20px solid #dcdcdc;
      left: -20px;
      z-index: 1;
      top: 50%;
      height: 100%;
      transform: translateY(-50%);
      @media (max-width: $lg-grid-breakpoint) {
        left: 0;
        border-left: 20px solid #F0EFEF;
        border-top: 55px solid transparent;
        border-bottom: 55px solid transparent;
        height: 0;
      }
    }

    .detail {
      font-family: $font-Kozgopr6n;
      padding-left: 25px;
      padding-right: 25px;
    }

    p {
      font-size: 13px;
    }
  }

  .stt {
    text-align: center;
    width: 125px;
    height: 100%;
    border-right: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    .number {
      font-size: 36px;
      letter-spacing: 3px;
    }
  }
  @media (max-width: $lg-grid-breakpoint) {
    .q-item:hover {
      cursor: pointer;
    }
    .a-item {
      display: none;
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    .stt {
      padding-right: 0;
      width: 100px;
      .number {
        font-size: 30px;
      }
    }
    .a-item, .q-item {
      max-width: calc(100% - 40px);
    }
    .a-item .detail {
      padding-left: 15px;
      padding-right: 0;
    }
  }
}

.cancellation-policy {
  padding-bottom: 50px;

  .title {
    margin-bottom: 25px;
  }

  .row {
    &:first-child {
      border-top: 1px solid #000;
    }

    border-bottom: 1px solid #000;
    padding: 10px 0;

    > div:first-child {
      border-right: 1px solid #000;
      text-align: right;
    }
  }

  span {
    font-size: 14px;
    font-family: $font-Kozgopr6n;
  }

  .note {
    margin-top: 2rem;
  }

  @media (max-width: $lg-grid-breakpoint) {
    padding-left: 25px;
    padding-right: 25px;
    .row {
      > div, > div:first-child {
        text-align: center;
      }
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    .row {
      > div:first-child {
        border-right: 0;
      }
    }
  }
}

.thank-section {
  padding: 50px 0;

  .title {
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    margin-bottom: 2rem;
  }

  .text p {
    margin-bottom: 0;
  }

  @media (max-width: $lg-grid-breakpoint) {
    padding-left: 25px;
    padding-right: 25px;
    p {
      font-size: 19px;
    }
  }
  @media (max-width: $sm-grid-breakpoint) {
    p {
      font-size: $sm-text-font-size;
    }
  }
}

.map {
  background-image: url('../images/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

footer {
  margin-top: 90px;
  padding: 90px 0;

  .logo {
    margin-bottom: 70px;
  }

  .title {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  @media (max-width: $lg-grid-breakpoint) {
    margin-top: 50px;
    padding: 50px 0;
  }
  @media (max-width: $sm-grid-breakpoint) {
    margin-top: 30px;
    padding: 30px 0;
    .logo {
      margin-bottom: 30px;
    }
    .title {
      margin-bottom: 20px;
    }
  }
}