$font-AlternateGotNo1D: "AlternateGotNo1D";
$font-Hiraminpro-W3: "Hiraminpro W3";
$font-Hiraminpro-W2: "Hiraminpro W3, Hiraminpro W2";
$font-Kozgopr6n: "Kozgopr6n";
$font-Univers: "Univers";
$header-height: 91px;
$font-family-base: $font-Hiraminpro-W3, sans-serif, serif;

$xs-grid-breakpoint: 0;
$sm-grid-breakpoint: 576px;
$md-grid-breakpoint: 768px;
$lg-grid-breakpoint: 992px;
$xl-grid-breakpoint: 1200px;

$sm-container-max-width: 100%;
$md-container-max-width: 720px;
$lg-container-max-width: 960px;
$xl-container-max-width: 1000px;

$background-paper-color: #f0efef;
$sm-title-font-size: 20px;
$sm-text-font-size: 16px;
